body {
    background-image: url(https://cdn.pixabay.com/photo/2016/06/20/03/15/pier-1467984_960_720.jpg) ;
    background-size: 1600px;
   
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 120px;
    margin-bottom: 38px;
    text-align: center;
}

input {
    color: rgb(138, 133, 133);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 36%;
    height: 33px;
    border-radius: 40px;
    border: 0px solid rgb(138, 133, 133);
    background-image: url(../pictures/3031293.png) ;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    text-align: center;
}

